<!DOCTYPE html>
<html>
<head>
    <title>Audio Player</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Browser Audio Player</h1>
    <audio id="audio" controls>
        <source src="{{ url_for('serve_audio', filename='song1.mp3') }}" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>
    <div class="controls">
        <button id="shuffle">Shuffle</button>
        <button id="previous">Previous</button>
        <button id="play">Play</button>
        <button id="pause">Pause</button>
        <button id="next">Next</button>
    </div>
    
    <div id="current-track">
        Now Playing: <span id="current-track-name">song1.mp3</span>
    </div>
  
    <script>
        const audio = document.getElementById('audio');
        const playButton = document.getElementById('play');
        const pauseButton = document.getElementById('pause');
        const nextButton = document.getElementById('next');
        const previousButton = document.getElementById('previous');
        const shuffleButton = document.getElementById('shuffle');
        const currentTrackName = document.getElementById('current-track-name');
        
        function sendRequest(action) {
            fetch(`/${action}`)
                .then(response => response.json())
                .then(data => {
                    if (data.result === 'success') {
                        if (action === 'play') {
                            audio.play();
                        } else if (action === 'pause') {
                            audio.pause();
                        } else if (action === 'next') {
                            audio.src = `{{ url_for('serve_audio', filename='') }}${data.audio}`;
                            audio.play();
                            currentTrackName.textContent = data.audio;
                        } else if (action === 'previous') {
                            audio.src = `{{ url_for('serve_audio', filename='') }}${data.audio}`;
                            audio.play();
                            currentTrackName.textContent = data.audio;
                        }
                    }
                });
        }
        
        playButton.addEventListener('click', () => {
            sendRequest('play');
        });

        pauseButton.addEventListener('click', () => {
            sendRequest('pause');
        });

        nextButton.addEventListener('click', () => {
            sendRequest('next');
        });

        previousButton.addEventListener('click', () => {
            sendRequest('previous');
        });

        shuffleButton.addEventListener('click', () => {
            sendRequest('shuffle');
        });
        
        audio.addEventListener('ended', () => {
            sendRequest('next'); 
        });
        
    </script>
    
</body>
</html>

