<!DOCTYPE html>
<html>
<head>
    <title>Audio Player</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   <div class="container">
        <div class="header">
            <h1>Audio Player</h1>
        </div>
        
        <div class="audio-container">
            <audio id="audio" controls>
                <source src="/static/audio/audio1.mp3" type="audio/mp3">
            </audio>

            <div class="controls">
                <button id="prev" class="control-button">&#9198;</button>
                <button id="play" class="control-button">&#9654;</button>
                <button id="pause" class="control-button">&#9209;</button>
                <button id="next" class="control-button">&#9197;</button>
            </div>
        </div>
    </div>

    <script>
        const audio = document.getElementById('audio');
        const playButton = document.getElementById('play');
        const pauseButton = document.getElementById('pause');
        const nextButton = document.getElementById('next');
        const prevButton = document.getElementById('prev');
        
        const audioFiles = ['audio1.mp3', 'audio2.mp3', 'audio3.mp3'];
        let currentAudioIndex = 0;

        playButton.addEventListener('click', () => {
            audio.play();
        });

        pauseButton.addEventListener('click', () => {
            audio.pause();
        });

        nextButton.addEventListener('click', () => {
            currentAudioIndex = (currentAudioIndex + 1) % audioFiles.length;
            audio.src = `/static/audio/${audioFiles[currentAudioIndex]}`;
            audio.load();
            audio.play();
        });

        prevButton.addEventListener('click', () => {
            currentAudioIndex = (currentAudioIndex - 1 + audioFiles.length) % audioFiles.length;
            audio.src = `/static/audio/${audioFiles[currentAudioIndex]}`;
            audio.load();
            audio.play();
        });
    </script>
</body>
</html>

